.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 100px 100px 100px auto;
    grid-gap: 4px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.menu {
    background: #EE6D43;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    line-height: 45px;
}
.sidebar {
    background: #F3DBA2;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-end: 1/2;
}
.content {
    background: #F7CA59;
    grid-column: 2/6;
}
.footer {
    background: #4DA8A2;
    grid-column: 1/6;
    grid-row: 5/5; 
}
.menu, .sidebar, .content, .footer {
    padding: 10px;
    border-radius: 8px;
    font-family: "Georgia";
    font-size: 1em;
    letter-spacing: 1px;
    color: darkolivegreen;
}
.logo {
    max-width: 80px;
    max-height: 45px;
    border-radius: 8px;
}
.caption {
    font-size: 1em;
    color: darkolivegreen;
    padding: 0 10px;
}
.photo-profile {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    vertical-align: middle;
}
a, a:hover, a:focus {
    color: darkolivegreen;
    text-decoration: none;
}
@media (max-width: 480px) {
    .sidebar, .content {
        grid-column: 1/6;
    }
    .footer{
        grid-row: auto;
    }
}